body {
  background-image: url(profile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.brand {
  background-color: rgba(116, 105, 105, 0.1);
  width: 550px;
  margin-top: 200px;
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 380px;
}
.brand h1 {
  color: #fff;
  text-align: left;
  font-size: 400%;
  animation: slideleft 1s linear forwards;
}
.brand h4 {
  color: rgba(255, 255, 255, 0.801);
  animation: slideleft 3s linear forwards;
}
@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
.product {
  background: #108dc7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
  background: linear-gradient(to right, #ef8e38, #108dc7);
  padding: 20%;
}
.carousel-caption {
  background-color: rgba(20, 17, 17, 0.205);
}
@media (max-width: 1087px) {
  .brand {
    margin-bottom: 280px;
  }
}
@media (max-width: 1080px) {
  .brand {
    margin-bottom: 280px;
  }
}
@media (max-width: 935px) {
  .brand {
    margin-bottom: 220px;
  }
}
@media (max-width: 840px) {
  .brand {
    margin-bottom: 160px;
  }
}
@media (max-width: 754px) {
  .brand {
    margin-bottom: 120px;
  }
}
@media (max-width: 700px) {
  body {
    background-image: url(profile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .brand {
    background-color: rgba(116, 105, 105, 0.1);
    width: 550px;
    margin-top: 200px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 120px;
  }
  .product {
    background: #108dc7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
    background: linear-gradient(to right, #ef8e38, #108dc7);
    padding: 10%;
  }
}
@media (max-width: 695px) {
  .brand {
    margin-bottom: 50px;
  }
}
@media (max-width: 660px) {
  body {
    background-image: url(image/profile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .brand {
    background-color: rgba(116, 105, 105, 0.1);
    width: 550px;
    margin-top: 200px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 90px;
  }
  .product {
    background: #108dc7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
    background: linear-gradient(to right, #ef8e38, #108dc7);
    padding: 10%;
  }
}
@media (max-width: 644px) {
  .brand {
    margin-bottom: 20px;
  }
}
