body {
  background-color: rgb(146, 146, 7);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black;
  background-color: white;
  font-family: "arial";
}
h2 {
  color: white;
  font-family: "arial";
}
p {
  color: white;
  font-family: "Comic Sans MS";
}

.bird {
  padding-bottom: 10px;
  padding-left: 8px;
  margin-top: 40px;
}
.flower {
  padding-bottom: 10px;
  padding-left: 8px;
  margin-top: 40px;
}
